* {
  max-width: 100vw;
  max-height: 100vh;
  box-sizing: border-box; 
  font-family: 'Architects Daughter';
  margin: 0
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* margin: 0; */
}

/* Splash Screen */

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #100215;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  line-height: 30vh;
}

.logo {
  width: 70px;
  height: 70px;
  border-color: #100215;
  border-style: solid;
  margin: 10px;
  border-radius: 10px;
}

.front {
  width: 250px;
  height: 250px;
  
}

.splash.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: -1;
  color: white;
  text-align: center;
  line-height: 90vh;
  transition: 0.5s;
}

@keyframes fadeIn {
  to{
    opacity: 1;
  }
}

.fade-in{
  opacity: 1;
  animation: fadeIn 1s forwards;
}

h2 {
  font-size: 50px;
}

/* p { 
  justify-content: center;
  color: wheat;
  font-size: 30px;
  text-decoration: overline;
  display: block;
  margin: auto;
} */

header {
  display: inline;
  align-content: space-between;
}


nav {
  background-color: #83f8b0cb;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


h1 {
  margin: 0px;
  font-size: 50px;
  text-shadow: 10px 8px 17px 0px rgb(0 0 0 / 75%);
  text-align: center;
  padding: 0px;
}

aside {
  width: 176px;
  height: 130px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: x-large;
  background-color: wheat;
  margin: 18px;
  padding: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
}

span {
  width: 100px;
  height: 50px;
  color: white;
  padding: 25px;
  text-align: center;
  font-size: large;
  margin: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.splashWinMini {
  position: fixed;
  width: 45vw;
  height: 52vh;
  background-color: #100215;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 26vh;
  margin-top: 207px;
  margin-left: 300px;
  justify-content: space-evenly;
}

.splashWin {
  position: fixed;
  width: 40vw;
  height: 50vh;
  background-color: #100215;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 28vh;
  justify-content: center;
  align-items: center;
}

.none {
  display: none;
}


.grid-wrapper {
  flex-direction: row;
  background-color: #3a045154;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}



.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  /* height: 100%; */
  justify-content: center;
  height: 600px;
  width: 600px;
  margin: 50px;
}



.grid div {
  display: flex;
  border: 1px solid #300241da;
  flex-wrap: wrap;
  flex-grow: 1;
  height: 33.333%;
  width: 33.333%;
}


.cells {
  display: flex;
  flex-wrap: wrap;
  border: 1.5px solid #5187f4da;
  align-items: center;
  justify-content: center;
  /* height: 33.333%;
  width: 33.333%; */
  font-size: xx-large;
}

/* HIGHTLIGHT BOARDS WON BY PLAYER */
.hoverX {
  color: blue; 
}

.hoverO {
  color: red }

.playerX {
  color: blue;
}

.playerO {
  color: red;
}

.highlight-red-next {
  transition: background-color 0.5s;
  border-color: #001f33; 
  background-color: rgba(255, 0, 0, 0.214);
}

.highlight-blue-next {
  transition: background-color 0.5s;
  border-color: #001f33; 
  background-color: rgba(0, 0, 255, 0.214);
}

.highlight-red {
  transition: background-color 0.5s;
  border-color: #001f33; 
  background-color: rgba(255, 0, 0, 0.726) !important;
}

.highlight-blue {
  border-color: #001f33; 
  transition: background-color 0.5s;
  background-color: rgba(0, 0, 255, 0.766) !important;
}

.tie {
  color: #a6a6a6;
  transition: background-color 0.5s;
  background-color: #737373 !important;
}


footer {
  display: flex;
  flex-direction: row;
  background-color: #83f8b0cb;
  display: flex;
  justify-content: center;
  padding: 10px;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  border-radius: 2em;
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.753);
  background-color: rgba(20, 146, 242, 0.843);
  margin: 16px;
  padding: 5px;
}